<div class="col-md-4">
    <a href="#">
        <h5>{{ video.title }}</h5>
        <img style="width: 90%" src="{{ video.thumbnail }}" alt="{{ video.title }}" />
        <p>{{ video.description|truncate(30, true) }} </p>
    </a>

</div>